* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-section {
    display: flex;
    gap: 50px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

.logo h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}
